%button {
  padding: 5px 10px;
  background-color: peru;
  font-size: 30px;
  color: white;
  margin: 10px;
  font-family: inherit;
  border-radius: 7px;
  text-transform: uppercase;
  font-weight: 500;
}
